node_modules/

# Tailwind / build
public/css/
public/uploads/*.jpg
public/uploads/*.jpeg
public/uploads/*.gif
public/uploads/*.png
dist/
build/

# Lock files
package-lock.json

# OS files
.DS_Store
Thumbs.db

# log / temp
*.log
tmp/
